
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full screen height */
  background: rgba(255, 255, 255, 0.8); /* Light overlay */
}

.loader {
  width: 100px; /* Adjust size */
  height: 100px;
}

